#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.player-card {
  width: 120px;
  padding: 2em;
  border-radius: 6px;
  background-color: #181818;
  color: #FEFEFE;
  margin: 20px;
}

.vote-card {
  cursor: pointer;
}

.home-container {
  padding: 2rem;
}

.input-group {
  margin-bottom: 1rem;
}

.half button {
  width: 280px; /* let the button size to its content */
  margin-top: 0.5rem;
}